@model List<ClassTask1.EF.Product>

<h2>Products</h2>
<a href="/Product/Create" class="btn btn-primary mt-1 mb-1">Create</a>
@if (TempData["Msg"] != null)
{
    <p class="alert alert-success">@TempData["Msg"]</p>
}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Qty</td>
            <td>@product.Category.Name</td>
            <td>
                <a href="/Product/Edit/@product.Id" class="btn btn-warning">Edit</a>
                <a href="/Product/Delete/@product.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>